{% extends "template.html" %}
{% block content %}
<style type="text/css">
  html { background: url(static/img/brain-food.jpg) no-repeat center center fixed;
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
  }
  li { color:black; }
</style>

<h1>human grocery store</h1>
<h2>Breakfast</h2>
<ul>
 <li>stir fry vegetables</li>
 <ul> 
    <li>ginger</li>
	<li>broccoli</li>
	<li>leek</li>
	<li>mushrooms</li>
	<li>2 bags of greens</li>
  </ul>
 <li>eggs</li>
 <li>steel cut oats</li>
 <li>avocado</li>
 <li>tomatoes</li>
 <li>sour cream</li>
 <li>seaurkraut</li>
<h2>Lunch</h2>
 <li>stir fry vegetables</li>
 <li>mackerel</li>
 <li>pickled herring</li>
 <li>good rice and quinoa</li>
 <li>fruit and nuts</li>
<h2>Dinner</h2>
 <li>stir fry vegetables</li>
 <li>mackerel or salmon</li>
 <li>pickeled herring</li> 
<h3>Smoothie</h3>
 <li>good yogurt</li>
 <li>kefir--</li>
 <li>bananas</li>
 <li>avocado</li>
 <li>berries</li>
 <li>hemp powder</li>
 <li>spirulina</li>
 <li>flax seed oil</li>
 <li>kale</li>
<h3>Mineral Broth</h3>
 <li> 6 unpeeled carrots</li>
 <li> 2 oinons (chunks)</li>
 <li> 1 leek (chunks)</li>
 <li> 1 bunch celery (chunks)</li>
 <li> 5 - 10 unpeeled garlic cloves (org)</li>
 <li> 1/2 bunch flat-leaf parsley, cilantro is good</li>
 <li> Japanese or Okinawan sweet potatoes</li>
 <li> 2 in. piece ginger root</li>
 <li> 8 in. strip of kombu</li>
 <li> 2-3 bay leaves</li>
 <li> 10 black peppercorns</li>
 <li> 4 whole allspice or juniper berries</li>
 <li> 1 tbl. sea salt</li>
 <li> mushrooms always good </li>
<h3>Nuts</h3>
 <li>Walnuts</li>
 <li>Almonds</li>
 <li>Seeds</li> 
 <ul>
	 <li>Sunflower</li>
	 <li>Pumpkin</li>
 </ul>
 <li>cranberries</li>
<h3>Other</h3>
 <li>half and half</li>
 <li>frozen scallops</li>
 <li>frozen salty snacks</li>
 <li>making kombucha</li>
 <li>fish eggs</li>
 <li>'warrior bars'</li>
 <li>hot sauce / salsa?</li>
 <li>taro</li>
 {% endblock %}