{% extends "template.html" %}
{% block content %}
<style>
.fancy-header {
  font-family: "Lucida Grande", Tahoma;
  font-size: 11px;
  font-weight: bold;
  font-variant: normal;
  text-transform: uppercase;
  color: #666666;
        margin-top: 10px;
  text-align: center!important;
  letter-spacing: 0.3em;
}
.fancy {
  font-family: "Lucida Grande", Tahoma;
  font-size: 10px;
  font-weight: lighter;
  font-variant: normal;
  color: #666666;
        margin-top: 10px;
  text-align: center!important;
  letter-spacing: 0.3em;
}
</style>
<br/><br/><br/><br/><br/>
    <table width="875" align="center" cellspacing="0" cellpadding="0" border="0">
        <tbody>
            <tr>
                <td align="center" colspan="5">
                    <!-- <img width="695" height="100" alt="Anian Pettit Tunney Grubb Realtor" src="images/anian-bk.gif"></img> -->
                    <h2>EXCELLENCE IN EVERYTHING</h2>
                </td>
            </tr>

            <tr>
                <td>
                    <img width="135" height="402" alt="Piedmont Home" src="static/img/angel.jpg"></img>
                </td>
                <td>
                    <img width="156" height="402" alt="Berkeley Home" src="static/img/path-long.jpg"></img>
                </td>
                <td>
                    <img width="165" height="402" alt="Piedmont Home Search" src="static/img/home-long.jpg"></img>
                </td>
                <td>
                    <img width="153" height="402" alt="Oakland Home" src="static/img/fountain-long.jpg"></img>
                </td>
                <td>
                    <img width="135" height="402" alt="Oakland Home Search" src="static/img/tulip-long.jpg"></img>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row" style="text-align: center;">
      <div class="large-12 columns"><br/><br/></div>
      <div class="large-12 columns"><a class="medium round button" href="{{ url_for('specs') }}">Back to Specs</a></div>
    </div>

    <br/><br/><br/><br/>

    <!-- WRITTEN CONTENT -->
    <div class="row" style="text-align: center;">
      <div class="large-12 columns"></div>
      <div class="large-12 columns">
        <h3 class="fancy-header">Maria Morgan joins Hill &amp; Co. with over 17 years of experience selling San Francisco real estate.</h3>
        <br/>
          <p class="fancy">
          In her professional opinion, San Francisco real estate represents one of the best investments a person can make. As such, Maria approaches every purchase – from a one bedroom condominium to a multi-unit apartment building – as a major investment meriting careful analysis on behalf of her clients. She advises clients to look beyond a property’s more superficial attributes and to focus on fundamentals – condition and location. A firm believer in that age-old adage, "Location, Location, Location," she urges homebuyers to purchase the best location they can afford
          </p>
          <p class="fancy">
          When representing sellers, Maria takes full advantage of the state-of-the-art tools offered by Hill &amp; Co. – custom websites and videos, professionally designed marketing materials and membership in the Who's Who in Luxury Real Estate organization. Her diversity of experience and negotiating expertise allow her to anticipate and mitigate any potential issues prior to a problem arising. Consequently, she closes her deals at a far higher rate than the industry norm.
          </p>
          <p class="fancy">
          Due to her association with various community advocacy groups and her involvement with the Governmental Relations Committee of the San Francisco Association of Realtors, Maria regularly frequents City Hall. Her insider knowledge of the City’s political process keeps her atop the ever-changing laws governing real estate in the City.
          </p>
          <p class="fancy">
          Originally from the Big “O” (Omaha, Nebraska), Maria counts her Midwestern values among her best assets.
          </p>

     </div>
    </div>

    <!-- NAVBAR -->
    <div id="map" class="reveal-modal" data-reveal class="large-4 columns">
      <a class="close-reveal-modal" href="#"></a>
    </div>

    <div id="latitude"> 
      

    </div>
    <div id="longitude"> 

    </div>

    <div id="cellinfo" class="reveal-modal" data-reveal style="text-align: center;"><h1>415-816-5434</h1>
    <a class="close-reveal-modal" href="#">x</a></div>
    <div id="telinfo" class="reveal-modal" data-reveal style="text-align: center;"><h1>415-321-3111</h1>
    <a class="close-reveal-modal" href="#">x</a></div>
    <div id="faxinfo" class="reveal-modal" data-reveal style="text-align: center;"><h1>fax 202-1631</h1>
    <a class="close-reveal-modal" href="#">x</a></div>

    <br><br>

  <div class="fixed">  
    <nav style="background-color: #d2918c;" class="top-bar">
      <ul class="title-area">
        <li class="name">
         <h1 style="color: black; text-align: center;" data-tooltip class="has-tip" title="click to locate route from current location" data-reveal-id="map">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         Maria Morgan 
         </h1>
        </li>
      </ul>

      <section class="top-bar-section"> 
        <ul class="left">
          <li><a href="#"></a></li>
        </ul>
        <ul class="right">
          <li>
            <a href="#" style="color: black; background-color: #d2b48c;" id="cellinfo" data-reveal-id="cellinfo" data-tooltip class="has-tip" title="view large">
            CELL 415-816-5434
            </a>
          </li>
          <li>
            <a href="#" style="color: black; background-color: #cdd28c;" id="telinfo" data-reveal-id="telinfo" data-tooltip class="has-tip" title="view large">
            TEL 415-321-3111
            </a>
          </li>
          <li>
           <a href="#" style="color: black; background-color: #8ccdd2;" id="faxinfo" data-reveal-id="faxinfo" data-tooltip class="has-tip" title="view large">
           FAX 202-1631
           </a>
          </li>
        </ul>
        
      </section>
    </nav>
  </div>
  <!-- ENDNAVBAR -->
    <script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
    <script>
      geo = navigator.geolocation;
      geo.getCurrentPosition(success, failure);

      function success(position) {
        var mylat = position.coords.latitude;
        var mylong = position.coords.longitude;
        $('#lat').html(mylat);
        $('#long').html(mylong);

        var coords = new google.maps.LatLng(mylat, mylong);

        var mapOptions = {
          zoom: 16,
          center: coords,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }

        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
        var marker = new google.maps.Marker({map: map, position: coords});

      }

      function failure() {
        $('#lat').html("<p>It didn't work, co-ordinates not available</p>");
      }
    </script>
{% endblock %}