<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prototype</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}" />
    <script src="static/js/modernizr.js"></script>
    <style>
    #blue {
      background-color: blue;
    }
    li {
      color: white;
    }
    nav {
      background-color: #1a2dff;
    }
    img{ text-align: center;}

    #map {
      width: 600px;
      height: 600px;
      top: 200%;
      left: 40%;
      margin: -150px 0px 0px -101px;
    }
    </style>

  </head>
  <body>
<div class="row" class="jumbo">
 <div class="large-12 columns">
  <h2 style="text-align: center;"></h2>
    <div class="container">
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div> <br/><br/>
      {% endfor %}
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }} </p> <br/><br/>
      {% endif %}

      {% block content %}
      {% endblock %}
    </div>
  </div>
</div>

 
  <script src="static/js/jquery.js"></script>
    <script src="static/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>