<!DOCTYPE html>
    <head>
      <meta charset="utf-8">
      <title>D3 Presentation Palette</title>
      <style> 
      svg {
      	border-style: solid;
      	border-color: blue;
      }
      </style>
      <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
      <script>
    function doD3() {
    var svgWidth = 455, svgHeight = 455, svgContainer = d3.select("body").append("svg").attr({ width: svgWidth, height: svgHeight });
    
    var circleData = [10,20,30,40,50,60,70];

    var svgPadding = (svgHeight + svgWidth) / 200;
        var min_circleData = d3.min(circleData);
        var max_circleData = d3.max(circleData);

    var circles = svgContainer.selectAll("circle")  
                           .data(circleData)      
                           .enter()         
                           .append("circle");
    var xScale = d3.scale.linear()
                  .domain([ 0, max_circleData])
                  .range([svgPadding - min_circleData, svgHeight - svgPadding - max_circleData]);

    var yScale = d3.scale.linear()
                  .domain([ 0, max_circleData])
                  .range([svgPadding - min_circleData, svgHeight - svgPadding - max_circleData]);

    var circleAttrs = circles
        .attr({ cx : function(d) { return xScale(d); }, 
          cy : function(d) { return yScale(d); }, 
          r  : function(d) { return d; }, 
          fill : d3.scale.category10(), stroke : d3.scale.category10()});
        }
    window.onload = doD3;
    </script>
    </head>
    <body>

      

    </body>
    </html>